@charset "utf-8";

/* Zerar margens da página */
*{
    margin: 0px;
    padding: 0px;
}

/* Página */
body{
    background-color: #999999;
}
/* Configuração da área usável da página. */
div#pointer_div{
    position: relative;
    margin: 15% auto 0px auto;
    height: 282px;
    width: 450px;
}
